@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .fill-mode {
    animation-fill-mode: both !important;
  }
  .aria-disabled {
    display: none !important;
  }
  .disabled {
    display: none !important;
  }
  button:disabled {
    opacity: 50%;
  }
  .bg-hero {
    /* Reference an image file */
    background-image: url("./assets/bg.jpeg");
    color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
